CONFIG_PLATFORM_CF2=y

# CPX Configuration for UART2: disabled
CONFIG_ENABLE_CPX_ON_UART2=n

# CPX Configuration for UART1: enabled
CONFIG_ENABLE_CPX=y
CONFIG_ENABLE_CPX_ON_UART1=y
# CONFIG_CPX_UART1_BAUDRATE=576000
CONFIG_CPX_UART1_BAUDRATE=115200
CONFIG_DECK_CPX_HOST_ON_UART1=y
CONFIG_DEBUG=n
# CONFIG_DEBUG_PRINT_ON_UART1 is not set
CONFIG_DECK_FORCE="cpxOverUART1"
# CONFIG_CPX_UART1_PING_TEST is not set


